th, td {
  padding: 50px;
}

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: #43291F;
 } 
 
 #comparison {
  margin-top: 100px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
 } 

body {
    background-color: #43291F;
}

table {
    color: #d7bf67;
}
p {
    font-size: 20px;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 80px;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 45px;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    margin-bottom: 10px;
}

.space {
    height: 50px;
}

#explore-button {
    font-family: "Radley", serif;
    background-color: #d7bf67;
    outline-color: #d7bf67;
}

.circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 20px;
  color: #43291F;
  text-align: center;
  background: #d7bf67;
  margin: auto;
}

.small-circle {
  width: 30px;
  height: 30px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 20px;
  margin: auto;
  color: #43291F;
  text-align: center;
  background: #d7bf67;
}


.smallest-circle {
  width: 10px;
  height: 10px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 20px;
  margin: auto;
  color: #43291F;
  text-align: center;
  background: #d7bf67;
}

.vl {
    border-left: 6px solid #d7bf67;
    height: 3500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 1000;
    z-index: -1;
}
.title {
    padding-bottom: 10px;
}
.button-padding {
    padding-top: 10px;
}

.discussion {
    background-color: #d7bf67;
    width: 1200px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}